* {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  background-color: antiquewhite;
}

h1 {
  color: rgb(136, 1, 3);
}

h2 {
  color: rgb(213, 109, 12);
}

li {
  margin: 2px;
}

ol li {
  margin: 5px;
}
